.input-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.input-label {
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #8c7569;
  transition: 0.3s;
}

.input-block input {
  outline: 0;
  border: 0;
  padding: 4px 0 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.input-block input.invalid {
  color: #c62828;
}

.input-block input::placeholder {
  color: #ccc;
}

.input-block:focus-within {
  border-color: #8c7569;
}

.input-block:focus-within .input-label {
  color: rgba(140, 117, 105, 0.8);
}

.input-error {
  margin-top: 6px;
  font-size: 11px;
  color: #c62828;
}
