.select-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;
  background: #fff;
}

.select-label {
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #8c7569;
  transition: 0.3s;
}

.select-input {
  outline: 0;
  border: 0;
  padding: 6px 0 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background: transparent;
  color: #2c3e50;
  appearance: none;
}

.select-input:disabled {
  color: #9aa5b1;
}

.select-block:focus-within {
  border-color: #8c7569;
}

.select-block:focus-within .select-label {
  color: rgba(140, 117, 105, 0.8);
}
