<div class="notification-layout">
  <main class="main-content">
    
    <section class="content-area">
      <div class="permission-container">
        <app-note
            title="*Note"
            message="Grant and manage permissions for users and roles. Grant permissions with utmost care as it can cause security issues."
        >
            
        </app-note>
        <div class="permissions-content">
            <div class="nav-section">
                <app-sidenav
                    [navItems]="groups"
                    [isOpen]="true"
                    [title]="'Roles'"
                    (itemSelected)="onGroupSelected($event)"
                    (toggleSidenav)="toggleSidenav()"
                    (navItemsReordered)="onNavItemsReordered($event)"
                >

                </app-sidenav>
            </div>
            <div class="permission-list-section">
              <div class="permission-list-header" *ngIf="tablePermissions.length > 0">
                <span>Table</span>
                <span>View</span>
                <span>Change</span>
                <span>Delete</span>
                <span>Add</span>
              </div>

              <div class="permission-list" *ngIf="tablePermissions.length > 0; else noPermissions">
                <app-permission-element
                  *ngFor="let permission of tablePermissions"
                  [permission]="permission"
                  (permissionChange)="onTablePermissionChanged($event)"
                ></app-permission-element>
              </div>

              <ng-template #noPermissions>
                <p class="no-permission-text">No permissions found for this group.</p>
              </ng-template>
            </div>
        </div>
      </div>
    </section>

  </main>
</div>
