<app-navbar
    [title]="'Admin Panel'"
    [subtitle]="'Manage your application settings and data'"
    [logoUrl]="'/assets/admin-logo.png'"
    [navItems]="[{
    'label': 'Dashboard', 'route': '/admin/dashboard','title':'Admin Panel', 'subtitle': 'Manage your data from here'
    }, {
    'label': 'Profile', 'route': '/user/profile','title':'Profile','subtitle': 'Edit and save your profile'
    }, {
    'label': 'Notification', 'route': '/user/notification', 'title': 'Notification', 'subtitle':'Your Notification'
    }]">
</app-navbar>

<router-outlet></router-outlet>
